:root {
    --primary: #030712; 
    --secondary: #111827; 
    --tertiary: #CBCFD4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    font-family: "Montserrat", sans-serif;  
    font-style: normal;    
    color: white;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

.brand h3 {
    margin: 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: var(--tertiary);
    transition: font-weight 0.3s ease;
}

.menu a:hover {
    font-weight: 600; 
}

.special-button a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    max-width: 200px;
}

.special-button img {
    margin-right: 5px;
    width: 20px;
    height: auto;
}

.about{
    height: 100vh;
    padding-top: 8%;
}

.about p{
    color: var(--tertiary);
}

.about-image img {
    width: 80%;
    height: auto;
}

.about-text{
    margin-top: -5%;
}

.availability-circle {
    display: inline-block;
    width: 7px; 
    height: 7px; 
    background-color: #ff0000; 
    border-radius: 50%; 
    margin-right: 2px;
    margin-bottom: 2px;
  }
  
  .icon-inline-wrapper {
    display: inline-block;
    vertical-align: middle; 
  }
  
  .icon-inline {
    max-width: 1em; 
    height: auto; 
    margin-bottom: 6px;
  }


.formacao{
    background-color: var(--secondary);
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    text-align: center; 
}

.formacao p{
    color: var(--tertiary)
}


  .formacao img {
    width: 40px; 
    height: auto;
    margin-top: 5%; 
  }

  .formacao h1 {
    color: white; 
    margin-top: 10px; 
  }
  
  .habilidades{
    width: 100%;
    text-align: center; 
    padding-bottom: 3%;
}


  .habilidades h1 {
    color: white; 
    margin-top: 10px; 
  }

  .habilidades img {
    width: 40px; 
    height: auto;
    margin-top: 5%; 
  }

  .habilidades p{
    color: var(--tertiary);
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container img,
.logo-container-2 img {
    cursor: pointer;
}


.logo-container img {
    max-width: 20%;
    max-height: 100px; 
    width: auto;
    height: auto;
    padding-right: 30px;
    padding-left: 30px;
}


.logo-container-2 img {
    max-width: 20%;
    max-height: 100px;
    width: auto;
    height: auto;
    margin: 30px;
    transition: filter 0.3s ease; 

}

.logo-container img:hover {
    transform: scale(1.05); 
}


.logo-container-2 img:hover {
    transform: scale(1.05); 
}

.logo-container img,
.logo-container-2 img {
    cursor: pointer;
    filter: grayscale(100%); 
    transition: filter 0.3s ease; 
}

.logo-container img:hover,
.logo-container-2 img:hover {
    filter: grayscale(0%);
    transform: scale(1.05); 
}



.portfolio{
    background-color: var(--secondary);
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 5%; 
}

.portfolio img {
    width: 40px;
    height: auto; 
    margin-top: 5%; 
  }

  .portfolio h1 {
    color: white;
    padding-top: 10px;
    padding-bottom: 3%;
  }


  .portfolio {
    text-align: center;

  }
  .portfolio .box {
    margin-bottom: 30px;
  }
  .portfolio .box img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px; 
  }
  .portfolio .box .btn {
    text-align: left;
    position: relative;
  }
  .portfolio .box .btn img {
    width: auto;
    height: 1em;
    vertical-align: middle;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 15px;
  }

  


  #tecnologias{
    border-radius: 0px;
  }


  .box h3,h4{
    margin-top: 15px;
  }


  .contato{
    width: 100%;
    text-align: center; 
    padding-bottom: 3%;
}

  .contato h1 {
    color: white;
    margin-top: 10px;
  }

  .contato img {
    width: 40px; 
    height: auto;
    margin-top: 5%; 
  }

  .contato p{
    color: var(--tertiary);
  }


#copy {
    width: auto;
    height: 1em;
    vertical-align: middle;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 15px;
    padding-left: 5px;
  }


.social-icons{
    margin-top: -50px;
}

.social-icons img{
    filter: grayscale(100%);
    margin-left: 15px;
    margin-bottom: 3%;
  }

  .social-icons a img {
    width: 40px;
    transition: filter 0.3s ease-in-out;
}

.social-icons a:hover img {
    filter: brightness(0) invert(1);
}

.footer{
    background-color: var(--secondary);
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (max-width: 768px) {

    body{
        display: none;
    }
  }
  

